/* ==========================================================================
   Top bar
   ========================================================================== */
#topbar-img {
    width: 1em;
}



.controls-container {
    margin-right: 2em !important;
    margin-left: 2em !important;
}

.controls-container .input-group {
    margin-bottom: 10px;
}