/* ==========================================================================
   Top bar
   ========================================================================== */
.navbar-img-container {
    padding-right: 1px;
}

.navbar-img {
    width: 2em;
    margin-top: -0.5em;
}



.controls-container {
    margin-right: 2em !important;
    margin-left: 2em !important;
}

.controls-container .input-group {
    margin-bottom: 10px;
}