{% extends 'master.html' %}

{% block content %}
<div class="row faq">
    <div class="col-xs-12">
        <h4>How does the game works?</h4>
        <p>The game generates a number between 1 and 100, and allows you to bet on what you think it will be.
        </p>
        <p>Your probability of winning, and payout for guessing correctly is proportional to how specific the range
        you bet. The payout of guessing correct is such that the house edge would be 2%</p>

        <p>However, the house edge is 1%, not 2%. This is because we use the 1% as a chance to win the jackpot. For
          instance if the jackpot is 1 BTC, your probability of winning it is: <code>wager/100/(wager + 1 BTC)</code>
          <br />
          You can always see your chance of winning the jackpot while in the game.
        </p>

        <h4>What is MoneyPot?</h4>
        <p>We are an app that uses MoneyPot for all gambling services, this means your balance and bets live there.
          We are not much more than a UI that places and verifies the bets for you. We have no access to your money, can only
          bet what you authorize us to bet.
        </p>

        <h4>Can I invest?</h4>
        <p>
          We do not have our own bankroll, but bet against MoneyPot's. You can however invest there if you like
          but investments are not specific to DustDice (any MoneyPot app can gamble against it). Bankroll investing
          is risky business. Never invest more than you are prepared to lose.
        </p>
    </div>

</div> <!-- /faq -->
{% endblock %}