{% extends 'master.html' %}

{% block content %}
<div class="row faq">
    <div class="col-xs-12">
        <h4>How does the game works?</h4>
        <p>The game generates a number between 1 and 100, and allows you to bet on what you think the result will be.
        </p>
        <p>Your probability of winning, and payout for guessing correctly is proportional to how specific the range
        you bet. The payout of guessing correct is such that the house edge would be 2%</p>

        <p>However, the house edge is 1%, not 2%. This is because we use the 1% as a chance to win the jackpot. For
          instance if the jackpot is 1 BTC, your probability of winning it is: <code>wager/100/(wager + 1 BTC)</code>
          <br />
          You can always see your chance of winning the jackpot while in the game.
        </p>

        <br/>
        <h4>What is MoneyPot?</h4>
        <p>We are an app that uses MoneyPot for all gambling services, this means your balance and bets live there.
          We are not much more than a UI that places and verifies the bets for you. We have no access to your money, can only
          bet what you authorize us to bet.
        </p>

        <br/>
        <h4>Can I invest?</h4>
        <p>
            Of course, we accept investment through <a href="https://moneypot.com">MoneyPot's</a> investment program and bitcoin wallet.
            All bets are placed against MoneyPot's bankroll, this allows any casino to immediately support bettings against it.
            Go to <a href="https://moneypot.com">MoneyPot</a> and start investing on the best investment on bitcoin casinos
        </p>
    </div>

</div> <!-- /faq -->
{% endblock %}