<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DustDice Casino</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/font-awesome.css">
        <link href="../css/app.css" rel="stylesheet">
        <link rel="shortcut icon" href="../img/favicon-black.ico" type="image/x-icon"/>

    </head>
    <body>

    <div id="game-container"></div>

    <script>
        /** Receive variables from the server and put them as global vars **/
        var PRODUCTION = {% if production %}true{% else %}false{% endif %};
    </script>

    <script data-main="scripts/config/config" src="../scripts/lib/require.js"></script>

    </body>
</html>