<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DustDice Casino</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <link href="css/{% if config %}{{config['app.css']}}{% else %}app.css{% endif %}" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon-black.ico" type="image/x-icon"/>
        <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    </head>
    <body>

    <div id="game-container"></div>

    <script>
        /** Receive variables from the server and put them as global vars **/
        var PRODUCTION = {{ production }};
        var CHAT_URI = '{{ chatURI }}';
    </script>
    {% if config %}
    <script src="scripts/{{ config['config.js'] }}"></script>
    {% else %}
    <script data-main="scripts/config" src="scripts/lib/require.js"></script>
    {% endif %}
    </body>
</html>