{% extends 'master.html' %}

{% block content %}

<div id="landing-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#landing-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#landing-carousel" data-slide-to="1"></li>
        <li data-target="#landing-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/img/screenshots/screenshot-clean.png" alt="Welcome to DustDice">
            <div class="carousel-caption">
                <h1>Bitcoin Dice - Welcome to DustDice </h1>
                <p class="carousel-subtitle">Visually driven bitcoin gambling</p>
                <br/>
                <div class="btn-register-container">
                    <a class="btn btn-lg btn-success btn-register"
                       href="{% if production %}https://moneypot.com{% else %}http://localhost:3000{% endif %}/oauth/authorize?app_id={{ appId }}&amp;state=abc&amp;redirect_uri={{ redirectURI }}&amp;response_type=token"
                       role="button">
                        Login with MoneyPot
                        <br><small>(or register)</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/screenshots/screenshot-game-1.png" alt="Moneypot system">
            <div class="carousel-caption">
                <h1>Provably Fair Bitcoin Dice</h1>
                <p class="carousel-subtitle">We use <a href="https://moneypot.com">MoneyPot</a> secure system to bet</p>
                <br/>
                <div class="btn-register-container">
                    <a class="btn btn-lg btn-success btn-register"
                       href="{% if production %}https://moneypot.com{% else %}http://localhost:3000{% endif %}/oauth/authorize?app_id={{ appId }}&amp;state=abc&amp;redirect_uri={{ redirectURI }}&amp;response_type=token"
                       role="button">
                        Login with MoneyPot
                        <br><small>(or register)</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/screenshots/screenshot-game-2.png" alt="Moneypot system">
            <div class="carousel-caption">
                <h1>Register now</h1>
                <p class="carousel-subtitle">Have some fun, and good luck!</p>
                <br/>
                <div class="btn-register-container">
                    <a class="btn btn-lg btn-success btn-register"
                       href="{% if production %}https://moneypot.com{% else %}http://localhost:3000{% endif %}/oauth/authorize?app_id={{ appId }}&amp;state=abc&amp;redirect_uri={{ redirectURI }}&amp;response_type=token"
                       role="button">
                        Login with MoneyPot
                        <br><small>(or register)</small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#landing-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#landing-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Why DustDice?</h4>
        <p>DustDice offers the most beautiful user interface for Bitcoin dice on the entire web.<br/>
            Nothing beats our quick bet times, unique graph system, and high security using MoneyPot.</p>
        
        <h4>Slim 1% (or less) house edge</h4>
        <p>So you have a real chance of winning.<br/>
            Some bets have less than 1% house edge, depending on your payout!</p>

        <h4>Play Bitcoin dice anywhere - we are mobile optimized!</h4>
        <p>Designed from the ground up for a perfect mobile experience! At work, on the subway, or even on the toilet, DustDice is available to play</p>

        <h4>Provably Fair Bitcoin Dice</h4>
        <p>All outcomes are generated by MoneyPot, and not only can you verify every single outcome was
            fairly generated, we automatically check it for you. Every. Single. Roll.
        </p>

    </div>

    <div class="col-lg-6">
        <h4>Secured by MoneyPot</h4>
        <p>DustDice Bitcoin Dice does not store any funds or player information. And we only have access to the money that you
          authorize us with, which you can <em>immediately</em> gamble with, revoke, and you win, immediately get your money.
        </p>

        <h4>Perfected Keyboard Betting</h4>
        <p>We've added custom multipliers and a great keyboard betting system, so you can bet more quicker and more easily. Besides using the arrow keys for betting, click "S" on the game page, then click "Controls" to bring up the full list of keyboard controls.</a></p>
        
        <h4>Open Source Dice Game</h4>
        <p>Yes, we've gone open-source! <a href="https://github.com/moneypot/dustdice">Check the source</a></p>

        <h4>Just the better way to play dice</h4>
        <p>By far the best Bitcoin dice game on the internet. Provably fair, fast, low house edge and easy to use. </p>
    </div>
</div>

<!--<script>-->
    <!--if(localStorage['expires']>Date.now() && localStorage['access_token'])-->
        <!--window.location = {% if production %} 'https://dustdice.com/game' {% else %} 'http://localhost:3000/game' {% endif %};-->
<!--</script>-->

<!--<script>-->
    <!--jqueryReadyQueue.push(function($) {-->
        <!--$('#landing-carousel').carousel({-->
            <!--interval: 100000-->
        <!--});-->
    <!--});-->
<!--</script>-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60027615-29', 'auto');
  ga('send', 'pageview');

</script>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style 

a2a_vertical_style" style="left:0px; top:100px;">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
   <a class="a2a_button_facebook a2a_counter"></a>
    <a class="a2a_button_pinterest a2a_counter"></a>
    <a class="a2a_button_linkedin a2a_counter"></a>
<a class="a2a_button_reddit a2a_counter"></a>
<a class="a2a_button_google_plus a2a_counter"></a>
<a class="a2a_button_twitter"></a>
</div>
<script async 

src="https://static.addtoany.com/menu/page.js"></script>

<!-- AddToAny END -->

{% endblock %}
