/* Loading */
#chat-loading-container {
    height: 100%;
    width: 100%;
    position: relative;
}
#chat-loading-container img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Connected */
#chat-inner-container {
    height: 100%;
    position: relative;
    border: 4px solid rgba(189, 195, 199, 0.5);
    box-sizing: border-box;
}
#chat-title {
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.1em;
    font-size: 1.3em;
}
#chat-title h1{
    height: 1em;
    font-size: 1em;
    margin: 0;
}
#chat-header .close {
    padding-right: 0.1em;
}
#chat-content {
    font-size: 0.8em;
    position: absolute;
    top: 2em;
    bottom: 2em;
    right: 0;
    left: 0;
    overflow-y: scroll;
    padding-left: 0.3em;
    padding-bottom: 0.4em;
}
#chat-content::-webkit-scrollbar {
    width: 6px;
}
#chat-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#chat-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
#chat-content::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2);
}
#chat-input-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
#chat-input {
    font-size: 1em;
    padding: 0;
    margin: 0;
    width: 100%;
    border-top: 4px solid rgba(189, 195, 199, 0.5);
    box-sizing: border-box;
    color: #2E2E30;
}

.chat-msg-role {
    background-color: #B63A36;
    display: inline;
    padding: 0.03em 0.4em;
    font-size: 60%;
    border-radius: .25em;
    margin-right: 0.2em;
}

.OWNER {
    background-color: #B63A36 !important;
    color: #E0E0E3;
}

.MOD {
    background-color: #2980B9 !important;
    color: #E0E0E3;
}

.chat-msg-uname {
    background-color: #2E5277;
    display: inline;
    padding: .03em .25em;
    border-radius: .25em;
    margin-right: .2em;
    font-family: 'Montserrat', sans-serif; /*font-family: Courier New;*/
    color: #E0E0E3;
}

.chat-msg-uname a{
    color: inherit;
}

.chat-msg-text a {
    color: coral;
    color: inherit;
    font-family: 'Montserrat', sans-serif; /*font-family: Courier New;*/
    font-weight: 600;
}

.chat-msg.mentioned .chat-msg-text a{
    color: coral;
}

.chat-msg-text {
    word-break: break-word;
}
